{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/note_confirm_delete.css' %}"
/>
{% endblock %} {% block content %}

<div id="confirm-delete">
  <h2>Are you sure you want to delete {{ object.name }}?</h2>

  <form action="" method="POST" class="form">
    {% csrf_token %}
    <a href="{% url 'notes_detail' note.id %}" class="button-32">
      NOOOO Cancel!!
    </a>
    <button type="submit" class="button-32">Yes - Delete!</button>
  </form>
</div>
{% endblock %}
