{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/note-detail.css' %}"
/>
<script defer src="{% static 'js/note-detail.js' %}"></script>
{% endblock %} {% block content %}
<section class="note-container" style="background-color: {{ note.color }}">
  <div class="note-img">
    {% if note.photo.url %}
    <img
      src="{{note.photo.url}}"
      alt="A photo of {{note.name}}"
      class="usr-img"
    />
    {% endif %}
  </div>
  <div class="note-details">
    <h1>{{ note.name }}</h1>
    <p>{{ note.content }}</p>
    <p id="file-name"></p>
    <form
      action="{% url 'add_photo' note.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="button-32">
        Choose photo <input type="file" " name="photo-file" id="file-input" />
      </label>
      <button type="submit" class="button-32">Upload Photo</button>
    </form>
    </br>
    <div class="note-actions">
      <input
        type="button"
        class="button-32"
        value="Go back!"
        onclick="history.back()"
      />
      <form action="{% url 'notes_update' note.id %}">
        <input type="submit" class="button-32" value="Edit" />
      </form>
      <form action="{% url 'notes_delete' note.id %}">
        <input type="submit" class="button-32" value="Delete" />
      </form>
    </div>
  </div>
</section>

{% endblock %}
