@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.stickynote {
  /* position: relative; */
  z-index: 1;
  line-height: 1;
  text-align: center;
  width: 275px;
  margin-left: 5px;
  min-height: 250px;
  max-height: auto;
  font-size: 1.3em;
  border-bottom-right-radius: 50px 7px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  display: inline-block;
}

.usr-img {
  margin-top: 13px;
  max-width: 90%;
  max-height: 250px;
}

.page-header {
  height: 45px;
}
a:link {
  text-decoration: none;
}

.draggable.is-dragging {
  opacity: 0.7;
}

/* .weather-info {
  width:316px;
  height: 225px;
} */

.wrapper1 svg {
  display: none;
  /* width: 250px; */
  /* height: 390px; */
  /* background: #fff; */
  /* border-radius: 7px; */
  /* box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7); */
}

.wrapper1 a {
  display: none;
}
/* .wrapper1 header {
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #43affc;
  padding: 16px 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
} */
/* header i {
  font-size: 0em;
  cursor: pointer;
  margin-right: 8px;
} */
/* .wrapper1.active header i {
  margin-left: 5px;
  font-size: 20px;
} */
/* .wrapper1 .input-part {
  margin: 20px 25px 30px;
} */
/* .wrapper1.active .input-part {
  display: none;
} */
/* .input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 10px 8px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part .info-txt.error {
  color: #721c24;
  display: block;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
.input-part .info-txt.pending {
  color: #0c5460;
  display: block;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}
.input-part :where(input, button) {
  width: 80%;
  height: 55px;
  border: none;
  outline: none;
  font-size: 18px;
  border-radius: 7px;
  margin-bottom: 15px;
}
.input-part input {
  text-align: center;
  padding: 0 15px;
  border: 1px solid #ccc;
}
.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}
.input-part input::placeholder {
  color: #bfbfbf;
}
.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.separator::before {
  content: "or";
  color: #b3b3b3;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}
.input-part button {
  color: #fff;
  cursor: pointer;
  background: #43affc;
  transition: 0.3s ease;
}
.input-part button:hover {
  background: #1d9ffc;
} */
/* .wrapper1 .weather-part {
  display: none;
  margin: 30px 0 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* .wrapper1.active .weather-part {
  display: flex;
}
.weather-part img {
  max-width: 125px;
}
.weather-part .temp {
  display: flex;
  font-weight: 500;
  font-size: 42px;
}
.weather-part .temp .numb {
  font-weight: 600;
}
.weather-part .temp .deg {
  font-size: 40px;
  display: block;
  margin: 10px 5px 0 0;
}
.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}
.weather-part .location {
  display: flex;
  font-size: 19px;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 30px;
  align-items: flex-start;
}
.location i {
  font-size: 22px;
  margin: 4px 5px 0 0;
}
.weather-part .bottom-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}
.bottom-details .column {
  display: flex;
  width: 100%;
  padding: 15px 0;
  align-items: center;
  justify-content: center;
}
.column i {
  color: #5dbbff;
  font-size: 40px;
}
.column.humidity {
  border-left: 1px solid #ccc;
}
.column .details {
  margin-left: 3px;
}
.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}
.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 0 2px 0 1px;
}
.column .details p {
  font-size: 14px;
  margin-top: -6px;
}
.humidity i {
  font-size: 37px;
} */

.draggable {
  float: left;
}
#draggable,
#draggable2 {
  margin-bottom: 20px;
}
#draggable {
  cursor: move;
}

#containment-wrapper {
  padding: 5px;
}


