{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script defer src="{% static 'js/draggability.js' %}"></script>
{% endblock %} {% block content %}
<section class="page-header"></section>

<div class="grid" id="containment-wrapper">
  {% for note in notes %} {% if note.homescreen == 'Y' %}
  <a href="{% url 'notes_detail' note.id %}">
    <div
      class="stickynote ui-widget-content draggable"
      id="draggable_H{{user.id}}{{note.id }}"
      style="background-color: {{ note.color }} "
    >
      <div class="stickynote-content">
        <div class="stickynote-img-container">
          {% if note.photo.url %}
          <img
            src="{{note.photo.url}}"
            alt="A photo for {{note.name}}"
            class="usr-img"
          />
          {% endif %}
        </div>
        <h3 class="stickynote-title">{{ note.name }}</h3>
        <p><small>{{ note.content }}</small></p>
      </div>
    </div>
  </a>

  {% endif %} {% endfor %}
</div>
{% endblock %}
