{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}
<div id="profile">
  <div id="logo-container">
    <img id="logo" src="{% static 'images/stickyBoardLogo.png' %}" alt="A blank sticky note"/>
  </div>
  <h4>Profile Personal Preferences</h4>

  <p>Calendar viewable on index: {{ profile.calendar_view }}</p>
  <p>Weather viewable on index: {{ profile.weather_view }}</p>
  <p>Location: {{ profile.location }}</p>
  <h5>Personal board background</h5>
  {% if profile.background %}
  <div id='background-tile'>
    <img src="{{ profile.background }}"
    alt="User personal background"
    id="personal-bg-img"
    />
  </div>
  {% else %}
  <p>No link for personal background image provided</p>
  {% endif %}
  <input
  type="button"
  class="button-32"
  value="Go back!"
  onclick="history.back()"
  />
  <form action="{% url 'profile_update' profile.id %}">
    <input type="submit" class="button-32" value="Edit" />
  </form>
</div>
{% endblock %}