body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#note-form {
  display: flex;
  flex-wrap: wrap;
  background-color: #ebd785;
  width: 400px;
  min-height: 400px;
  padding: 15px;
  border-bottom-left-radius: 40px 5px;
  border-bottom-right-radius: 70px 15px;
  box-shadow: 12 px, 13em;
}

#id_name {
  width: 110%;
  background-color: #e7cd65;
  border-radius: 4px;
  height: 2em;
  font-family: inherit;
  border: .5px solid #e7cd65;
}

#id_notetype {
  width: 110%;
  background-color: #e7cd65;
  border-radius: 4px;
  height: 2em;
  font-family: inherit;
  border: .5px solid #e7cd65;
}

#id_content {
  width: 110%;
  background-color: #e7cd65;
  border-radius: 4px;
  height: 200px;
  font-family: inherit;
  border: .5px solid #e7cd65;
}

#id_date {
  width: 90px;
  background-color: #e7cd65;
  border-radius: 4px;
  height: 2em;
  font-family: inherit;
  border: .5px solid #e7cd65;
}

#id_color {
  width: 90px;
  background-color: #e7cd65;
  border-radius: 4px;
  height: 2em;
  font-family: inherit;
  border: .5px solid #e7cd65;
}

select option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select option[value="#EAEC40"] {
  background: #EAEC40;
}

select option[value="#FF7EB9"] {
  background: #FF7EB9;
}

select option[value="#F275AD"] {
  background: #F275AD;
}

select option[value="#79CBC5"] {
  background: #79CBC5;
}

select option[value="#FFFF97"] {
  background: #FFFF97;
}

select option[value="#7AFCFF"] {
  background: #7AFCFF;
}

select option[value="#FBAE4A"] {
  background: #FBAE4A;
}

select option[value="#F3858E"] {
  background: #F3858E;
}

select option[value="#8D9440"] {
  background: #8D9440;
}