.stickynote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.stickynote {
  line-height: 1;
  text-align: center;
  width: 275px;
  margin-left: 5px;
  min-height: 250px;
  max-height: auto;
  position: relative;
  border: 1px solid #fde34e;
  font-size: 1.3em;
  border-bottom-right-radius: 50px 5px;
  display: inline-block;
  background: linear-gradient(
    135deg,
    #e7cd65 81%,
    #e7cd55 82%,
    #e7cd45 82%,
    #e7cdc5 100%
  ); /* W3C */

}

.stickynote:after {
  content: "";
  /* position: absolute; */
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

a:link {
  text-decoration: none;
}
