.stickynote-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.stickynote {
  z-index:1;
  line-height: 1;
  text-align: center;
  width: 275px;
  margin-left: 5px;
  min-height: 250px;
  max-height: auto;
  font-size: 1.3em;
  border-bottom-right-radius: 50px 7px;
  display: inline-block;
  /* filter: drop-shadow(30px 10px 4px #4444dd); */
}

/* .stickynote::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0px;
  bottom: 2px;
  width: 15%;
  height: 25px;
  background: rgba(0, 0, 0, 0.0);
  box-shadow: 3px 6px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0); 
} */

.usr-img{
  width: 90%;
}

.page-header {
  height: 45px;
}
a:link {
  text-decoration: none;
}

.draggable.is-dragging { opacity: 0.7; }